$primary: steelblue;
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import '~bootstrap/scss/bootstrap';

.title {
  font-family: 'Seaweed Script', cursive;
}

.grat-feed-text {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}

.grat-feed-create-date {
  color: #555555;
  font-style: italic;
}

.gratfeed {
  border: solid 1px gray;
  border-radius: 3px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.owner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
a:hover {
  text-decoration: none;
}
.editbtn {
  color: steelblue;
  font-size: 20px;
}
.editbtn:hover {
  color: navy;
  cursor: pointer;
}
.grat-feed-text {
  padding-top: 15px;
  padding-left: 65px;
  display: flex;
  flex-direction: row;
}
.comment-bubble {
  display: flex;
  justify-content: flex-start;
  padding-top: 13px;
  padding-left: 10px;
  font-size: 18px;
}
.heart {
  display: flex;
  justify-content: flex-end;
  padding-top: 13px;
  font-size: 20px;
  margin-bottom: 2px;
}
.heart:hover {
  color: red;
}
.heartbtn {
  margin-right: 10px;
}
.commentbtn {
  margin-right: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-main {
  position: fixed;
  background: #F0F0F0;
  width: 80%;
  height: auto;
  border-radius: 2% / 10%;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.comment-modal-main {
  position: fixed;
  background: #F0F0F0;
  width: 80%;
  height: auto;
  border-radius: 2% / 10%;
  padding: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.gratitudeTextForComment {
  background: #F0F0F0;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
}
.commentSubmitButton {
  margin: 10px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.comment-display-block {
  display: block;
}

.comment-display-none {
  display: none;
}
.delete-display-block {
  display: block;
}

.delete-display-none {
  display: none;
}
